# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.AssessmentRafael.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\juncal\RiderProjects\AssessmentRafael\.idea\.idea.AssessmentRafael\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
